@page "/bookdetail"
@using BookFriend.Components
@inject HttpClient Http


<button class="btn btn-primary" @onclick="() => GoBackToMainPage()">
    <span class="mr-2">Back</span>
    <i class="fas fa-arrow-left"></i>
</button>

<div class="container">
    <h2>@Book.Title</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            
            <img src="@Book.Cover.LargeImage_url" class="img-fluid" alt="Profile Picture">
        </div>
        <div class="col-md-6">
            <p>Author: @Book.AuthorNames[0]</p>
            <p>Publisher: @Book.Publishers[0]</p>
            <p>Year: @Book.PublishYear</p>
        </div>
    </div>
</div>